.about {
    width: 100%;
    margin: 0 auto;
    background: url(./images/893484-top-high-quality-background-images-2560x1440-htc.jpg) center;
    background-size: cover;
    color: #efefef;

    .overlay {
        background: rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 0px 40px #000000;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    h3 {
        font-family: 'vogue', serif;
    }

    hr {
        border: 0;
        border-top: 1px solid #333333;
        height: 0;
    }

    .about-icon {
        background: url(./images/about_logo.png) no-repeat center;
        background-size: contain;
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }

    p {
        font-family: 'roboto-light', Arial, Helvetica, sans-serif;
        width: 50%;
        margin: 0 auto;
        font-size: 15px;
    }

    blockquote {
        font-family: 'vogue', serif;

        p {
            font-family: 'vogue', serif;
            width: 100%;
            font-size: 25px;
        }

        footer {
            font-size: 20px;
        }
    }
}