.footer {
    width: 100%;
    background-color: #666666;
    color: #cccccc;
    text-align: center;
    padding-top: 5px;    
    opacity: 0.6;
    transition: all 0.5s ease;
}

.footer:hover {
    opacity: 1.0;
}